{% load static %}
{% load django_browser_reload %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="shortcut icon" href="{% static 'icons/vite.svg' %}" type="image/x-icon">
  <title>Django with React test</title>
</head>

<body>
  <div id="root"></div> <!-- This is where React will mount -->

  <!-- Load React JavaScript bundle -->
  <script src="{% static 'frontend/main.js' %}"></script>
  {% django_browser_reload_script %}

</body>

</html>